.statistic {
	margin-top: 40px;
}

.param-wrapper {
	margin-top: 10px;
	text-align: center;
}

.param-wrapper .param-name {
	font-size: 14px;
}

.positive {
	color: #83d083;
}

.logout-btn {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
}

.form-label {
	font-size: 16px;
}
